body {
    background-color: lightblue;
}
h1 {
    
    color: red;
    background-color: blue;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.Title {
    color: red;
    background-color: blue;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
.Pageslink {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.Ingrediences,
.Servings
 {
    background-color: azure;
    color: black;
    
}
.Ingrediences {
    font-size: 20px;
    font-weight: bold;
}
.Servings {
    font-size: 15px;
}
.List-of-ingrediences,
.ToServeList {
    background-color: azure;
    font-style: italic;

}
.ToServe {
    font-weight: bold;
    font-size: 15px;
}